.products{
    width: 100%;
    padding: 50px 30px;
}

.products h2{
    margin-bottom: 50px;
}

.products .container-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardProduct{
    position: relative;
    width: 90%;
    height: 418px;
    padding: 20px;
    margin: 20px 5px;
    border: solid 1px #0B6434;
    border-radius: 15px;
}

.cardProduct img{
    width: 100%;
    height: 50%;
    margin-bottom: 50px;
}

.cardProduct .nameProduct{
    margin-bottom: 20px;
}

.cardProduct .nameProduct,
.priceProduct{
    font-size: large;
    font-weight: 600;
}

.cardProduct .addCart{
    position: absolute;
    bottom: 0;
    right: 0;


    background-color: #0B6434;
    width: 20%;
    height: 8vh;
    border: none;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 35px;
    cursor: pointer;
}

.cardProduct .addCart img{
    margin: 0;
    width: 30px;
    height: 30px;
}